.contact-preview{
    // background-color: $clr;
    border-bottom: 1px solid $clr-Lgrey;
    cursor: pointer;
    &:hover{
        text-decoration: none;
        box-shadow: 0px 0px 3px $clr-main;
    }
    .contact-img{
        width: 60px;
        margin-bottom: 5px;
    }
    .contact-info{
        font-size: rem(18px);
        margin-inline-start: 1.5rem;
    }
}