.move-list{
    background-color: $clr-grey;
    padding: 1rem;
    margin-block-start: 1rem;
    padding-block-end: 0;
    border-radius: rem(8px);
    max-height: 309px;
    .moves{
        overflow: auto;

    }
    h1{
        font-size: rem(20px);
        font-weight: 600;
        padding-block-end: 1rem;
        border-bottom: 1px solid $clr-border;
    }
}