.move-preview{
    padding-block: 1rem;
    border-bottom: 1px solid $clr-border;
    span{
        font-weight: 500;
        display: flex;
        align-items: center;
        font-size: rem(18px);
        margin-block: rem(0.9px);
    }
    .txt{
        font-size: rem(18px);
        font-weight: 600;
        margin-inline-end: rem(5px);
    }
    &:last-child{
        border: 0;
    }
}