.contact-edit {
  font-size: rem(24px);
  text-align: left;
  height: 100%;
  background-color: lighten($clr-main, 70%);
  border-left: 1px solid $clr-MLight;
  border-right: 1px solid $clr-MLight;
  .c-top{

    @media only screen and (max-width: $mobile-breakpoint) {
      flex-direction: column;
    }
  }
  .edit-header {
    .title {
      text-align: center;
    }
    .b-btn {
      background-color: transparent;
      border: 0;
      .back-img {
        width: 35px;
      }
      &:hover {
        opacity: 0.6;
        text-decoration: none;
      }
    }
    .space {
      width: 35px;
    }
  }
  .form-edit {
    margin-inline-start: 1rem;
    margin-block-start: 1rem;
    label {
      display: flex;
      max-width: 300px;
      // flex-grow: 1;
      justify-content: space-between;
      align-items: center;
      span {
        font-weight: bold;
      }
      margin-block: 5px;
    }
    input {
      padding: 5px;
      width:70%;
      font-size: rem(18px);
    }
    .btn-save {
        max-width: 100px;
        border: 0;
        background-color: $clr-secondary;
        font-size: rem(18px);
        font-weight: 600;
        color: $clr-white;
        border-radius: rem(8px);
        margin-top: 1rem;
        &:hover{
            opacity: 0.6;
        }
    }
  }
  .c-img {
    border: 1px solid $clr-Lgrey;
    border-radius: rem(10px);
    width: 300px;
    margin-bottom: 2rem;
    margin-top: 1rem;
    box-shadow: 0 1px 5px $clr-Lgrey;
  }
}
