.signup-page {
  height: 100%;
  background-color: lighten($clr-main, 70%);
  border-left: 1px solid $clr-MLight;
  border-right: 1px solid $clr-MLight;
  img {
    width: 150px;
    margin-block: 3rem;
  }
  label {
    font-size: rem(26px);
    font-weight: 500;
    margin-block-end: 1rem;
}
input {
    font-size: rem(18px);
    padding: 2px 10px;
    text-align: center;
    border: 1px solid $clr-Lgrey;
    border-radius: rem(4px);
    margin-block-end: 1rem;
    // &:focus{
    //     outline: 1px solid blue;
    // }
  }
  .signup-btn{
    background-color: $clr-secondary;
    border: 0;
    padding: 4px 8px;
    border-radius: rem(8px);
    font-size: rem(14px);
    font-weight: 600;
    color: $clr-white;
    letter-spacing: 1px;
    &:hover{
        opacity: 0.6;
    }
  }
}
